@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#gameScreen {
    background-color: gray;
    color: rgba(255, 0, 217, 0.363);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0rem);
}
#HealthBar {
    font-family: 'VT323', cursive;
    text-shadow: 2px 2px #000;
    color: #ffcc00;

}