body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    background-color: rgb(34, 69, 69);
}
#gameScreen {
    background-color: darkslategray;
    color: rgba(255, 0, 217, 0.363);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0rem);
    border-radius: 0rem;
}